<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Uçak Bilet Fiyat Tahmini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form method="post">
            <label>Havayolu:</label>
            <select name="airline" required>
                <option disabled selected>Seçin</option>
                <option>AirAsia</option>
                <option>Vistara</option>
                <option>Air India</option>
                <option>IndiGo</option>
                <option>GO_FIRST</option>
            </select>

            <label>Kalkış Şehri:</label>
            <select name="source_city" required>
                <option disabled selected>Seçin</option>
                <option>Delhi</option>
                <option>Mumbai</option>
                <option>Kolkata</option>
                <option>Hyderabad</option>
                <option>Chennai</option>
            </select>

            <label>Kalkış Zamanı:</label>
            <select name="departure_time" required>
                <option disabled selected>Seçin</option>
                <option>Early_Morning</option>
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening</option>
                <option>Night</option>
            </select>

            <label>Aktarma Sayısı:</label>
            <select name="stops" required>
                <option disabled selected>Seçin</option>
                <option>zero</option>
                <option>one</option>
                <option>two_or_more</option>
            </select>

            <label>Varış Zamanı:</label>
            <select name="arrival_time" required>
                <option disabled selected>Seçin</option>
                <option>Early_Morning</option>
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening</option>
                <option>Night</option>
            </select>

            <label>Varış Şehri:</label>
            <select name="destination_city" required>
                <option disabled selected>Seçin</option>
                <option>Delhi</option>
                <option>Mumbai</option>
                <option>Kolkata</option>
                <option>Hyderabad</option>
                <option>Chennai</option>
            </select>

            <label>Uçuş Süresi (saat):</label>
            <input type="text" name="duration" required>

            <label>Kaç gün önceden alındı:</label>
            <input type="text" name="days_left" required>

            <input type="submit" value="Tahmin Et">
        </form>

        {% if prediction %}
        <div class="prediction">
            Tahmini Fiyat: {{ prediction }} TL
        </div>
        {% endif %}
    </div>
</body>
</html>
